.markets__card-list.custom-scroll
    .markets__card
        .markets__card-title BNB/BUSD
        .markets__card-picture
            img.markets__card-img(src="img/min-chart-green.svg", alt="" width="105" height="55")
        .markets__card-bet <span class="color-green">332.04</span> $ 331.84
        .markets__card-sum <span class="color-red">-0.66%</span> Объём: 286,085,833.68 BUSD

    .markets__card
        .markets__card-title ETH/BUSD
        .markets__card-picture
            img.markets__card-img(src="img/min-chart-red.svg", alt="" width="105" height="55")
        .markets__card-bet <span class="color-red">2.490.70</span> $ 2.481.21
        .markets__card-sum <span class="color-green">+0.66%</span> Объём: 721,689,833.68 BUSD

    .markets__card
        .markets__card-title BNB/BUSD
        .markets__card-picture
            img.markets__card-img(src="img/min-chart-green.svg", alt="" width="105" height="55")
        .markets__card-bet <span class="color-green">332.04</span> $ 331.84
        .markets__card-sum <span class="color-red">-0.66%</span> Объём: 286,085,833.68 BUSD

    .markets__card
        .markets__card-title ETH/BUSD
        .markets__card-picture
            img.markets__card-img(src="img/min-chart-red.svg", alt="" width="105" height="55")
        .markets__card-bet <span class="color-red">2.490.70</span> $ 2.481.21
        .markets__card-sum <span class="color-green">+0.66%</span> Объём: 721,689,833.68 BUSD
