section.content
    .box
        .content__wrapper
            .content__nav
                .side-menu
                    p.side-menu__title Legal
                    a.side-menu__link.js-anchor-link.side-menu__link--active(href="#anchor-privacy-policy") Privacy Policy
                    a.side-menu__link.js-anchor-link(href="#anchor-terms-of-use") Terms of Use
                    a.side-menu__link.js-anchor-link(href="#anchor-aml-policy") AML Policy

            .content__inner
                .content__picture
                    picture
                        source(type="image/webp" media="(min-width: 1200px)" srcset="./img/matic-coin-desktop.webp, ./img/matic-coin-desktop@2x.webp 2x")
                        source(type="image/webp" media="(min-width: 768px)" srcset="./img/matic-coin-tablet.webp, ./img/matic-coin-tablet@2x.webp 2x")
                        source(type="image/webp" srcset="./img/matic-coin-mobile.webp, ./img/matic-coin-mobile@2x.webp 2x")
                        source(media="(min-width: 1200px)" srcset="./img/matic-coin-desktop.jpg, ./img/matic-coin-desktop@2x.jpg 2x")
                        source(media="(min-width: 768px)" srcset="./img/matic-coin-tablet.jpg, ./img/matic-coin-tablet@2x.jpg 2x")
                        img.content__img(src="./img/matic-coin.jpg" srcset="./img/matic-coin@2x.jpg 2x" alt="matic" width="300" height="154")

                .content__info
                    .content__title.h1 Lorem ipsum
                    .content__lead
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the l

                .content__section(id="anchor-privacy-policy")
                    .content__info
                        .content__title.h2 Privacy Policy. Galley of type and scrambled
                        .content__descr
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the l
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the l

                    .content__picture-wrap
                        .content__picture
                            picture
                                source(type="image/webp" media="(min-width: 1200px)" srcset="./img/news-1-desktop.webp, ./img/news-1-desktop@2x.webp 2x")
                                source(type="image/webp" media="(min-width: 768px)" srcset="./img/news-1-tablet.webp, ./img/news-1-tablet@2x.webp 2x")
                                source(type="image/webp" srcset="./img/news-1-mobile.webp, ./img/news-1-mobile@2x.webp 2x")
                                source(media="(min-width: 1200px)" srcset="./img/news-1-desktop.jpg, ./img/news-1-desktop@2x.jpg 2x")
                                source(media="(min-width: 768px)" srcset="./img/news-1-tablet.jpg, ./img/news-1-tablet@2x.jpg 2x")
                                img.content__img(src="./img/news-1-mobile.jpg" srcset="./img/news-1-mobile@2x.jpg 2x" alt="news-1" width="300" height="154")

                        .content__picture
                            picture
                                source(type="image/webp" media="(min-width: 1200px)" srcset="./img/news-2-desktop.webp, ./img/news-2-desktop@2x.webp 2x")
                                source(type="image/webp" media="(min-width: 768px)" srcset="./img/news-2-tablet.webp, ./img/news-2-tablet@2x.webp 2x")
                                source(type="image/webp" srcset="./img/news-2-mobile.webp, ./img/news-2-mobile@2x.webp 2x")
                                source(media="(min-width: 1200px)" srcset="./img/news-2-desktop.jpg, ./img/news-2-desktop@2x.jpg 2x")
                                source(media="(min-width: 768px)" srcset="./img/news-2-tablet.jpg, ./img/news-2-tablet@2x.jpg 2x")
                                img.content__img(src="./img/news-2-mobile.jpg" srcset="./img/news-2-mobile@2x.jpg 2x" alt="news-1" width="300" height="154")

                .content__section(id="anchor-terms-of-use")
                    .content__info
                        .content__title.h2 Terms of Use. Lorem Ipsum is simply dummy tex
                        .content__descr
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the l

                    .content__info
                        .content__title.h2 Printer took a galley of type
                        .content__descr.content__descr--strong
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        ul.content__list
                            li.content__item
                                a.content__link(href="#!") Lorem Ipsum is simply dummy text
                            li.content__item
                                p Specimen book
                            li.content__item
                                p When an unknown printer
                            li.content__item
                                p Galley of type and scrambled it to make a type crambled
                            li.content__item
                                p Lorem Ipsum is simply dummy text
                            li.content__item
                                p Specimen book
                            li.content__item
                                a.content__link(href="#!") When an unknown printer
                            li.content__item
                                p Galley of type and scrambled it to make a type
                .content__section(id="anchor-aml-policy")
                    .content__info
                        .content__title.h2 AML policy. Printer took a galley of type
                        .content__descr.content__descr--strong
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        ol.content__list
                            li.content__item
                                a.content__link(href="#!") Lorem Ipsum is simply dummy text
                            li.content__item
                                p Specimen book
                            li.content__item
                                p When an unknown printer
                            li.content__item
                                p Galley of type and scrambled it to make a type crambled
                            li.content__item
                                p Lorem Ipsum is simply dummy text
                            li.content__item
                                p Specimen book
                            li.content__item
                                a.content__link(href="#!") When an unknown printer
                            li.content__item
                                p Galley of type and scrambled it to make a type


                    .content__picture-wrap
                        .content__picture
                            picture
                                source(type="image/webp" media="(min-width: 1200px)" srcset="./img/news-1-desktop.webp, ./img/news-1-desktop@2x.webp 2x")
                                source(type="image/webp" media="(min-width: 768px)" srcset="./img/news-1-tablet.webp, ./img/news-1-tablet@2x.webp 2x")
                                source(type="image/webp" srcset="./img/news-1-mobile.webp, ./img/news-1-mobile@2x.webp 2x")
                                source(media="(min-width: 1200px)" srcset="./img/news-1-desktop.jpg, ./img/news-1-desktop@2x.jpg 2x")
                                source(media="(min-width: 768px)" srcset="./img/news-1-tablet.jpg, ./img/news-1-tablet@2x.jpg 2x")
                                img.content__img(src="./img/news-1-mobile.jpg" srcset="./img/news-1-mobile@2x.jpg 2x" alt="news-1" width="300" height="154")

                    .content__info
                        .content__title.h2 Printer took a galley of type
                        .content__descr
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the l

                    a.content__btn.btn.btn--blue Name button
