section.privileges
    img.privileges__polygon.privileges__polygon--top(src="./img/icons/polygon.svg", alt="")
    img.privileges__polygon.privileges__polygon--bottom(src="./img/icons/polygon.svg", alt="")
    .box
        .privileges__subtitle.subtitle WHY CHOOSE US
        h2.privileges__title.title Trade with Privileges

        ul.privileges__list.privileges-list
            li.privileges-list__item
                .privileges-list__picture
                    img.privileges-list__img(src="./img/security.png", alt="")
                .privileges-list__subtitle MAXIMUM SECURITY
                .privileges-list__title Comprehensive protection with security and law funds
                .privileges-list__descr
                    p Strade.io protects your funds with both centralized and decentralized methods. It is also the first exchange to invest millions in security and law funds to add extra protection for your assets.

            li.privileges-list__item
                .privileges-list__picture
                    img.privileges-list__img(src="./img/deposit.png", alt="")
                .privileges-list__subtitle EASY DEPOSIT
                .privileges-list__title Efficient trading and instant deposit / withdrawal
                .privileges-list__descr
                    p As an established exchange with cutting-edge technology, Strade.io offers an efficient and convenient trading system as well as an instant deposit and withdrawal service.

            li.privileges-list__item
                .privileges-list__picture
                    img.privileges-list__img(src="./img/liquid.png", alt="")
                .privileges-list__subtitle HIGH LIQUIDITY
                .privileges-list__title Take maximum profit of trading more than 30 assets
                .privileges-list__descr
                    p With a built in Artificial Intelligence market maker that meets the high standards set by Wall Street, our model analysis based on over 250 market parameters, providing 24/7 Customer Support and high liquidity.

            li.privileges-list__item
                .privileges-list__picture
                    img.privileges-list__img(src="./img/support.png", alt="")
                .privileges-list__subtitle 24/7 SUPPORT
                .privileges-list__title Full assistance anytime You need
                .privileges-list__descr
                    p We provide 24/7 online customer support to ensure quick and readily available support when needed.
