label.search-filter__checkbox
    input.search-filter__checkbox-input.visually-hidden(type="checkbox", name="onlyPositive" value="11")
    span.search-filter__checkbox-label Only positive
button.search-filter__btn-settings(type="submit")
    svg.search-filter__search-icon(width="12" height="12")
        use(xlink:href="#settings-icon")
.search-filter__search
    input.search-filter__search-input(type="search" placeholder="Search...")
    button.search-filter__search-img
        svg.search-filter__search-icon(width="12" height="12")
            use(xlink:href="#search-icon")
