.price
    .price__coins
        .price__coins-select
            select(id="select-coins-2")
                option(value="1" selected) BTC/USDT
                option(value="2") ADA/BTC
        .price__current
            .price__current-title 36,846.43
            .price__current-value.text-muted $36,846.43
        .price__list.custom-scroll
            .price__list-item
                .price__item-title.text-muted Изменения за 24 ч
                .price__item-value.color-green 1,091.74 + 3.05%
            .price__list-item
                .price__item-title.text-muted Макс 24ч
                .price__item-value 37,278.03
            .price__list-item
                .price__item-title.text-muted Минс за 24ч
                .price__item-value 34,153.84
            .price__list-item
                .price__item-title.text-muted Объём 24ч(BTC)
                .price__item-value 84,696.84
            .price__list-item
                .price__item-title.text-muted Объём за 24ч(USDT)
                .price__item-value 3,025,302,158.39
    .price__pair
        .price__pair-list.custom-scroll
            .price__pair-list-item
                .price__current-title BTC/USDT
                .price__current-value.text-muted 36,812.46 USD
            .price__pair-list-item
                .price__current-title ADA/BTC
                .price__current-value.text-muted 1.68 USD
