.box
    .footer__row
        .footer__head
            .footer__head-wrap
                a.footer__logo.logo(href="./index.html" aria-label="logo")
                    img.footer__logo-icon.logo__icon(src="./img/icons/logo.svg", alt="" width="32" height="27")
                    img.footer__logo-text.logo__text(src="./img/icons/logo-text.svg", alt="" width="50" height="10")
                .footer__text
                    p Legal cryptocurrency exchange<br>market and safe wallet

            .footer__social
                include ../social/social.pug

        .footer__content
            ul.footer__list
                li.footer__list-item
                    p.footer__list-title Info
                li.footer__list-item
                    a.footer__list-link(href="#!") About Us
                li.footer__list-item
                    a.footer__list-link(href="#!") Fees
                li.footer__list-item
                    a.footer__list-link(href="#!") Token Listing
                li.footer__list-item
                    a.footer__list-link(href="#!") Strade Blog

            ul.footer__list
                li.footer__list-item
                    p.footer__list-title legal
                li.footer__list-item
                    a.footer__list-link(href="./legal.html") Terms of Use
                li.footer__list-item
                    a.footer__list-link(href="./legal.html") Privacy Policy
                li.footer__list-item
                    a.footer__list-link(href="./legal.html") Trading Rules
                li.footer__list-item
                    a.footer__list-link(href="./legal.html") AML Policy

            ul.footer__list
                li.footer__list-item
                    p.footer__list-title Service
                li.footer__list-item
                    a.footer__list-link(href="#!") Exchange
                li.footer__list-item
                    a.footer__list-link(href="/wallet.html") Wallet
                li.footer__list-item
                    a.footer__list-link(href="./buy-crypto.html") But Crypto
                li.footer__list-item
                    a.footer__list-link(href="./swap.html") Swap

            ul.footer__list
                li.footer__list-item
                    p.footer__list-title Support
                li.footer__list-item
                    a.footer__list-link(href="#!") FAQ
                li.footer__list-item
                    a.footer__list-link(href="#!") Help Center
                li.footer__list-item
                    a.footer__list-link(href="#!") Verification
                li.footer__list-item
                    a.footer__list-link(href="#!") API Documentation

    .footer__bottom
        .footer__bottom-wrap
            .footer__date 2021-06-30 09:45:56 UTC +00
            .footer__volume
                .footer__volume-text 24h Volume <span class="footer__volume-data"> 96,706,860.73 USDT</span>
        .footer__copy &copy; 2020 Strade.io. All Rights Reserved
