table.markets-table.markets-table--show(data-table-index="1")
    thead
        tr
            th
                p.markets-table__col-name asset
            th
                p.markets-table__col-name last price
            th
                p.markets-table__col-name 24H volume
            th
                p.markets-table__col-name 24H hight
            th
                p.markets-table__col-name 24H low
            th
                p.markets-table__col-name 24H change
            th
                p
    tbody
        tr
            td
                .markets-table__col-coin
                    .markets-table__col-coin-logo
                        img(src="./img/icons/btc-icon.svg", alt="")
                    .markets-table__col-coin-text Bitcoin <span class="markets-table__col-coin-ticker">BTC</span>

            td
                p.markets-table__col-info 147058.8235294
            td
                p.markets-table__col-info 2.9365078
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 0%
            td
                .markets-table__col-chart
                    img(src="./img/chart-1.png", alt="")
        tr
            td
                .markets-table__col-coin
                    .markets-table__col-coin-logo
                        img(src="./img/icons/ltc-icon.svg", alt="")
                    .markets-table__col-coin-name Litecoin <span class="table__col-coin-ticker">ltc</span>

            td
                p.markets-table__col-info 147058.8235294
            td
                p.markets-table__col-info 2.9365078
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info.color-green +2.3%
            td
                .markets-table__col-chart
                    img(src="./img/chart-1.png", alt="")
        tr
            td
                .markets-table__col-coin
                    .markets-table__col-coin-logo
                        img(src="./img/icons/doge-icon.svg", alt="")
                    .markets-table__col-coin-text Dogecoin <span class="table__col-coin-ticker">doge</span>

            td
                p.markets-table__col-info 147058.8235294
            td
                p.markets-table__col-info 2.9365078
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info.color-red -5.5%
            td
                .markets-table__col-chart
                    img(src="./img/chart-2.png", alt="")
        tr
            td
                .markets-table__col-coin
                    .markets-table__col-coin-logo
                        img(src="./img/icons/eth-icon.svg", alt="")
                    .markets-table__col-coin-text Ethereum <span class="table__col-coin-ticker">ETH</span>

            td
                p.markets-table__col-info 147058.8235294
            td
                p.markets-table__col-info 2.9365078
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info.color-red -5.5%
            td
                .markets-table__col-chart
                    img(src="./img/chart-2.png", alt="")


table.markets-table(data-table-index="2")
    thead
        tr
            th
                p.markets-table__col-name asset
            th
                p.markets-table__col-name last price
            th
                p.markets-table__col-name 24H volume
            th
                p.markets-table__col-name 24H hight
            th
                p.markets-table__col-name 24H low
            th
                p.markets-table__col-name 24H change
            th
                p
    tbody
        tr
            td
                .markets-table__col-coin
                    .markets-table__col-coin-logo
                        img(src="./img/icons/doge-icon.svg", alt="")
                    .markets-table__col-coin-text Dogecoin <span class="table__col-coin-ticker">doge</span>

            td
                p.markets-table__col-info 147058.8235294
            td
                p.markets-table__col-info 2.9365078
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info.color-red -5.5%
            td
                .markets-table__col-chart
                    img(src="./img/chart-2.png", alt="")

        tr
            td
                .markets-table__col-coin
                    .markets-table__col-coin-logo
                        img(src="./img/icons/btc-icon.svg", alt="")
                    .markets-table__col-coin-text Bitcoin <span class="table__col-coin-ticker">BTC</span>

            td
                p.markets-table__col-info 147058.8235294
            td
                p.markets-table__col-info 2.9365078
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 0%
            td
                .markets-table__col-chart
                    img(src="./img/chart-1.png", alt="")
        tr
            td
                .markets-table__col-coin
                    .markets-table__col-coin-logo
                        img(src="./img/icons/ltc-icon.svg", alt="")
                    .markets-table__col-coin-name Litecoin <span class="table__col-coin-ticker">ltc</span>

            td
                p.markets-table__col-info 147058.8235294
            td
                p.markets-table__col-info 2.9365078
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info.color-green +2.3%
            td
                .markets-table__col-chart
                    img(src="./img/chart-1.png", alt="")

        tr
            td
                .markets-table__col-coin
                    .markets-table__col-coin-logo
                        img(src="./img/icons/eth-icon.svg", alt="")
                    .markets-table__col-coin-text Ethereum <span class="table__col-coin-ticker">ETH</span>

            td
                p.markets-table__col-info 147058.8235294
            td
                p.markets-table__col-info 2.9365078
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info 158730.1587302
            td
                p.markets-table__col-info.color-red -5.5%
            td
                .markets-table__col-chart
                    img(src="./img/chart-2.png", alt="")
