:root {
  --app-height: 100vh;
  --theme-bg-color: 245, 245, 245;
  --theme-bg-secondary-color: 255, 255, 255;
  --primary-color: 37, 37, 37;
  --logo-filter: invert(0);
  --dropdown-bg-color: 238, 238, 238;
  --select-bg-color: 233, 233, 233;
  --custom-scroll-bg: 211, 211, 211;
  --custom-scroll: 124, 124, 124;
  --custom-range-dots: 255, 255, 255;
  --custom-range-mini-dots: 216, 217, 224;
  --custom-range-border: 42, 174, 125;
  --bg-picture: 250, 250, 250;
  --exports-color: 41, 21, 227;
}

[data-theme=light] {
  --theme-bg-color: 245, 245, 245;
  --theme-bg-secondary-color: 255, 255, 255;
  --primary-color: 37, 37, 37;
  --logo-filter: invert(0);
  --dropdown-bg-color: 238, 238, 238;
  --select-bg-color: 233, 233, 233;
  --custom-scroll-bg: 211, 211, 211;
  --custom-scroll: 124, 124, 124;
  --custom-range-dots: 255, 255, 255;
  --custom-range-mini-dots: 216, 217, 224;
  --custom-range-border: 42, 174, 125;
  --bg-picture: 250, 250, 250;
  --exports-color: 41, 21, 227;
}

[data-theme=dark] {
  --theme-bg-color: 15, 19, 35;
  --theme-bg-secondary-color: 23, 29, 52;
  --primary-color: 255, 255, 255;
  --logo-filter: invert(1);
  --dropdown-bg-color: 42, 47, 68;
  --select-bg-color: 42, 47, 68;
  --custom-scroll-bg: 124, 124, 124;
  --custom-scroll: 211, 211, 211;
  --custom-range-dots: 42, 174, 125;
  --custom-range-mini-dots: 79, 84, 101;
  --custom-range-border: 255, 255, 255;
  --bg-picture: 33, 41, 70;
  --exports-color: 255, 255, 255;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ProximaNova-Extrabold.ttf") format("truetype");
}
.disable-link {
  pointer-events: none;
}

.white-space-text {
  white-space: nowrap !important;
}

.error__wrap {
  text-align: center;
  height: 30px;
  margin: 10px 0;
}

.error__modal__text {
  color: #f31142 !important;
  text-align: left;
}

-ms-viewport {
  width: device-width;
}

.page {
  box-sizing: border-box;
  min-width: 320px;
  height: 100%;
}
.page__body {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  word-break: break-word;
  font-family: "Proxima Nova", -apple-system, blinkmacsystemfont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #22232f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

[role=button] {
  cursor: pointer;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

a,
button,
[role=button],
input,
label,
select,
textarea {
  touch-action: manipulation;
  margin: 0;
}

button,
input {
  overflow: visible;
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button {
  padding: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-family: inherit;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

svg {
  fill: currentColor;
  vertical-align: middle;
}
a svg, button svg {
  pointer-events: none;
}
svg:not(:root) {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  transition: color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Proxima Nova", -apple-system, blinkmacsystemfont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: inherit;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  font-size: 0.75em;
}

b,
strong {
  font-weight: 500;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

code {
  padding: 0.06em 0.3em;
  color: #22232f;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  background-color: rgba(0, 0, 0, 0.08);
}
pre code {
  background: transparent;
}

.box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .box {
    padding: 0 30px;
  }
}

.box-custom {
  max-width: 1400px;
  margin: 0 auto;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 16px;
    line-height: 35px;
  }
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 42px;
    line-height: 45px;
  }
}

.no-scroll {
  overflow: hidden;
}
.no-scroll::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.highlight-text {
  color: #38c6dd;
}

.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--green {
  color: #ffffff;
  background-color: #24ac80;
}
.btn--green:hover {
  color: #24ac80;
  background-color: transparent;
  border-color: #24ac80;
}
.btn--blue {
  color: #ffffff;
  background-color: #2951e3;
}
.btn--blue:hover {
  color: #2951e3;
  background-color: transparent;
  border-color: #2951e3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h1 {
  margin: 30px 0 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .h1 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 28px;
  }
}

.h2 {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-muted {
  font-weight: 400;
  color: rgba(var(--primary-color), 0.5);
}

.color-red {
  color: #ef4f46;
}

.color-green {
  color: #24ac80;
}

.color-yellow {
  color: #ffbb36;
}

.show-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  cursor: pointer;
  fill: #9599a9;
}

.btn-green {
  color: #ffffff;
  background-color: #24ac80;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background 0.3s, border 0.3s, color 0.3s;
}
.btn-green:hover {
  color: #24ac80;
  border-color: #24ac80;
  background-color: transparent;
}

.btn-blue {
  color: #ffffff;
  background-color: #2951e3;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background 0.3s, border 0.3s, color 0.3s;
}
.btn-blue:hover {
  color: #2951e3;
  border-color: #2951e3;
  background-color: transparent;
}

.btn-primary {
  color: rgba(var(--primary-color), 1);
  background-color: rgba(var(--primary-color), 0.1);
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background 0.3s, border 0.3s;
}
.btn-primary:hover {
  border-color: rgba(var(--primary-color), 1);
  background-color: transparent;
}

.custom-scroll {
  overflow: auto;
}

.custom-scroll::-webkit-scrollbar,
.dashboard::-webkit-scrollbar,
.bv_ul_inner::-webkit-scrollbar,
.tooltip__text::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: rgba(var(--custom-scroll-bg), 1);
}
.custom-scroll::-webkit-scrollbar-track,
.dashboard::-webkit-scrollbar-track,
.bv_ul_inner::-webkit-scrollbar-track,
.tooltip__text::-webkit-scrollbar-track {
  background-color: rgba(var(--custom-scroll-bg), 1);
  border-radius: 999px;
}
.custom-scroll::-webkit-scrollbar-thumb,
.dashboard::-webkit-scrollbar-thumb,
.bv_ul_inner::-webkit-scrollbar-thumb,
.tooltip__text::-webkit-scrollbar-thumb {
  background-color: rgba(var(--custom-scroll), 1);
  border-radius: 999px;
}

.theme {
  transition: color 0.3s, background 0.3s;
  background-color: rgba(var(--theme-bg-color), 1);
  color: rgba(var(--primary-color), 1);
}

.theme > * {
  transition: color 0.3s, background 0.3s;
}

.dashboard {
  background-color: rgba(var(--theme-bg-color), 1);
  color: rgba(var(--primary-color), 1);
}
.dashboard .page-main {
  padding: 50px 10px 20px;
}
@media screen and (min-width: 768px) {
  .dashboard .page-main {
    padding: 60px 20px 20px;
  }
}

.dashboard-trade .dashboard-header__content {
  max-width: 1920px;
}
.dashboard-trade .page-main {
  padding: 50px 0 20px;
}
@media screen and (min-width: 768px) {
  .dashboard-trade .page-main {
    padding: 60px 0 20px;
  }
}

.tooltip {
  padding: 0 5px;
  position: relative;
  cursor: pointer;
}
.tooltip--show .tooltip__text {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.tooltip__icon {
  margin-top: -2px;
  border: 1px solid rgba(var(--primary-color), 0.5);
  border-radius: 50%;
}

.tooltip__text {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  position: absolute;
  top: 25px;
  right: 0;
  padding: 10px;
  width: 200px;
  max-height: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(var(--primary-color), 1);
  background-color: rgba(var(--dropdown-bg-color), 1);
  border: 1px solid rgba(var(--theme-bg-secondary-color), 1);
  border-radius: 10px;
  z-index: 2;
  transform-origin: top;
  transition: all 0.3s;
  overflow: auto;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo__icon {
  margin-right: 10px;
}

.logo__text {
  filter: invert(1);
}

.theme__button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 20px;
  color: rgba(var(--primary-color), 1);
}
@media screen and (min-width: 1280px) {
  .theme__button {
    position: relative;
    top: 0;
    right: 0;
  }
}
.theme__button-text {
  margin-right: 10px;
}
.theme__button-input {
  display: none;
}
.theme__button-label {
  background-color: #ffffff;
  border: 1px solid rgba(var(--primary-color), 0.2);
  border-radius: 999px;
  padding: 2px;
  transition: all 0.3s;
  outline: 0;
  display: block;
  width: 35px;
  height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.theme__button-label::after {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  border-radius: 50%;
  background-color: rgba(var(--primary-color), 0.2);
  transition: all 0.3s;
}

.theme__button-input:checked + .theme__button-label {
  background-color: #24ac80;
}

.theme__button-input:checked + .theme__button-label::after {
  left: 50%;
  background-color: #ffffff;
}

.dashboard-header {
  position: fixed;
  width: 100%;
  background-color: rgba(var(--theme-bg-secondary-color), 1);
  transition: background-color 0.3s ease-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  z-index: 100;
}
.dashboard-header .bv_mainselect {
  padding: 15px 30px;
  color: rgba(var(--primary-color), 1);
  width: 100%;
  white-space: nowrap;
  transition: color 0.3s;
}
@media screen and (min-width: 1280px) {
  .dashboard-header .bv_mainselect {
    padding: 10px 15px;
    width: 150px;
  }
}
.dashboard-header .bv_mainselect:hover {
  color: #24ac80;
}
.dashboard-header .bv_mainselect:hover .arrow {
  border-color: #24ac80;
}
.dashboard-header .bv_atual {
  font-weight: 500;
}
.dashboard-header .bv_ul_inner {
  min-width: 120px;
  background-color: rgba(var(--dropdown-bg-color), 1);
}
.dashboard-header .bv_ul_inner li + li {
  border-top: 1px solid rgba(var(--primary-color), 0.1);
}
.dashboard-header .bv_ul_inner li {
  color: rgba(var(--primary-color), 1);
  transition: color 0.3s;
}
.dashboard-header .bv_ul_inner li:hover {
  color: #24ac80;
  background-color: transparent;
}
.dashboard-header .arrow {
  border: solid rgba(var(--primary-color), 1);
  border-width: 0 1px 1px 0;
}

.dashboard-header__content {
  position: relative;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header__logo {
  width: 120px;
  margin-left: 40px;
}
@media screen and (min-width: 1280px) {
  .dashboard-header__logo {
    margin-left: 0;
  }
}

.dashboard-header__logo-text {
  filter: var(--logo-filter);
}

.dashboard-header__nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.dashboard-header__menu {
  display: grid;
  align-content: space-between;
  position: fixed;
  flex: 1;
  height: var(--app-height);
  width: 100%;
  top: 0;
  left: 0;
  padding: 60px 0 40px;
  transform: translateX(-100%);
  transition: transform ease 0.5s;
  background-color: rgba(var(--theme-bg-secondary-color), 1);
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .dashboard-header__menu {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .dashboard-header__menu {
    position: relative;
    max-width: 100%;
    height: auto;
    background-color: transparent;
    transform: translateX(0);
    padding: 0;
  }
}
.dashboard-header__menu--active {
  transform: translateX(0);
  transition: transform ease 0.5s;
}

@media screen and (min-width: 1280px) {
  .dashboard-header__menu-item-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.dashboard-header__menu-list {
  background-color: rgba(var(--theme-bg-secondary-color), 1);
}
@media screen and (min-width: 1280px) {
  .dashboard-header__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }
}

@media screen and (min-width: 1280px) {
  .dashboard-header__menu-item {
    margin: 0 15px;
  }
}

.dashboard-header__menu-link {
  display: block;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: rgba(var(--primary-color), 0.6);
  transition: border 0.3s, color 0.3s;
  border-left: 3px solid transparent;
}
@media screen and (min-width: 1280px) {
  .dashboard-header__menu-link {
    padding: 20px 0;
    border-left: none;
    border-bottom: 3px solid transparent;
  }
}
.dashboard-header__menu-link--active {
  color: rgba(var(--primary-color), 1);
  background-color: rgba(var(--primary-color), 0.05);
  border-color: #24ac80;
}
@media screen and (min-width: 1280px) {
  .dashboard-header__menu-link--active {
    background-color: transparent;
  }
}
.dashboard-header__menu-link:hover {
  color: #24ac80;
}
.dashboard-header__menu-link--active:hover {
  color: rgba(var(--primary-color), 1);
  cursor: initial;
}

.dashboard-header__menu-item + .dashboard-header__menu-item {
  border-top: 1px solid rgba(var(--primary-color), 0.1);
}
@media screen and (min-width: 1280px) {
  .dashboard-header__menu-item + .dashboard-header__menu-item {
    border: none;
  }
}

.dashboard-header__user-menu-wrap {
  padding: 10px;
  display: grid;
  grid-template-columns: 20px 28px;
  gap: 15px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .dashboard-header__user-menu-wrap {
    grid-template-columns: 20px 250px;
  }
}

.dashboard-header__notify {
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(var(--primary-color), 1);
  transition: color 0.3s;
  cursor: pointer;
}

.dashboard-header__notify-img {
  position: relative;
  display: flex;
}
.dashboard-header__notify-img--active::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #24ac80;
  border: 1px solid rgba(var(--theme-bg-color), 1);
}

.dashboard-header__notify-icon {
  cursor: pointer;
}

.dashboard-header__notify-content {
  position: absolute;
  width: 100%;
  min-width: 250px;
  top: 50px;
  right: -50px;
  z-index: 100;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .dashboard-header__notify-content {
    right: -100px;
  }
}

.dashboard-header__notify-list {
  max-height: 300px;
  border-radius: 10px;
  background-color: rgba(var(--dropdown-bg-color), 1);
}

.dashboard-header__notify-item {
  padding: 15px;
}

.dashboard-header__notify-item:not(:first-child) {
  border-top: 1px solid rgba(var(--primary-color), 0.1);
}

.dashboard-header__notify--active .dashboard-header__notify-content {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.dashboard-header__menu-toggle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  margin: 10px;
  background: 0 0;
  border: none;
  z-index: 100;
}
.dashboard-header__menu-toggle::before {
  opacity: 0;
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--primary-color), 1);
  border-radius: 10px;
  transition: transform 0.3s, opacity 0.3s;
}
.dashboard-header__menu-toggle::after {
  opacity: 0;
  position: absolute;
  content: "";
  top: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--primary-color), 1);
  border-radius: 10px;
  transition: transform 0.3s, opacity 0.3s;
}
@media screen and (min-width: 768px) {
  .dashboard-header__menu-toggle {
    top: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .dashboard-header__menu-toggle {
    display: none;
  }
}
.dashboard-header__menu-toggle--active::before {
  opacity: 1;
  top: 10px;
  transform: rotate(45deg);
  background-color: rgba(var(--primary-color), 0.5);
}
.dashboard-header__menu-toggle--active::after {
  opacity: 1;
  top: 10px;
  transform: rotate(-45deg);
  background-color: rgba(var(--primary-color), 0.5);
}
.dashboard-header__menu-toggle--active .dashboard-header__menu-toggle-line {
  opacity: 0;
}

.dashboard-header__menu-toggle-line {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
}

.dashboard-header__menu-toggle-icon {
  fill: rgba(var(--primary-color), 1);
}

.dropdown-menu {
  position: relative;
  color: rgba(var(--primary-color), 1);
  font-weight: 500;
  background-color: rgba(var(--dropdown-bg-color), 1);
  border-radius: 50px;
  cursor: pointer;
}

.dropdown-menu__user-info {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .dropdown-menu__user-info {
    padding: 4px;
  }
}
.dropdown-menu__user-info .down {
  margin-top: 2px;
  right: 20px;
}

.dropdown-menu__user-name {
  display: none;
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .dropdown-menu__user-name {
    display: block;
    padding: 0 40px 0 6px;
  }
}
@media screen and (min-width: 1900px) {
  .dropdown-menu__user-name {
    font-size: 14px;
    line-height: 17px;
  }
}

.dropdown-menu__user-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .dropdown-menu__user-icon {
    width: 34px;
    height: 34px;
  }
}

.dropdown-menu__menu {
  position: absolute;
  width: 100%;
  min-width: 200px;
  right: 0;
  z-index: 100;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.dropdown-menu__menu-list {
  margin-top: 15px;
  border-radius: 10px;
  background-color: rgba(var(--dropdown-bg-color), 1);
  list-style: none;
}

.dropdown-menu__menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  color: rgba(var(--primary-color), 1);
  transition: color 0.3s;
  cursor: pointer;
}
.dropdown-menu__menu-item:hover {
  color: #24ac80;
}

.dropdown-menu__menu-item + .dropdown-menu__menu-item {
  border-top: 1px solid rgba(var(--primary-color), 0.1);
}

.dropdown-menu--active .dropdown-menu__menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.dropdown-menu--active .down {
  margin-top: 5px;
  transform: rotate(-135deg);
}

.dashboard-header .price__coins {
  display: none;
}
@media screen and (min-width: 1025px) {
  .dashboard-header .price__coins {
    display: grid;
  }
}

.dashboard-trade .dashboard-header__logo {
  margin-left: 40px;
}
.dashboard-trade .dashboard-header__menu-toggle {
  display: block;
}
.dashboard-trade .dashboard-header__theme-button,
.dashboard-trade .dashboard-header__language {
  display: none;
}
@media screen and (min-width: 1280px) {
  .dashboard-trade .dashboard-header__theme-button,
.dashboard-trade .dashboard-header__language {
    display: block;
  }
}
.dashboard-trade .dashboard-header__nav {
  justify-content: space-between;
}
.dashboard-trade .dashboard-header__menu {
  position: fixed;
}
.dashboard-trade .dashboard-header__menu {
  padding: 60px 0 40px;
  width: 100%;
  height: var(--app-height);
  position: fixed;
  transform: translateX(-100%);
  background-color: rgba(var(--theme-bg-secondary-color), 1);
}
@media screen and (min-width: 768px) {
  .dashboard-trade .dashboard-header__menu {
    width: 50%;
  }
}
.dashboard-trade .dashboard-header__menu--active {
  transform: translateX(0);
  transition: transform ease 0.5s;
}
.dashboard-trade .dashboard-header__menu-list {
  display: block;
}
.dashboard-trade .dashboard-header__menu-item-wrap {
  display: block;
}
@media screen and (min-width: 1280px) {
  .dashboard-trade .dashboard-header__menu-item-wrap--mobile-only {
    display: none;
  }
}
.dashboard-trade .dashboard-header__menu-item {
  margin: 0;
}
.dashboard-trade .dashboard-header__menu-link {
  padding: 15px 25px;
  border-bottom: none;
  border-left: 3px solid transparent;
}
.dashboard-trade .dashboard-header__menu-link--active {
  color: rgba(var(--primary-color), 1);
  background-color: rgba(var(--primary-color), 0.05);
  border-left-color: #24ac80;
}
.dashboard-trade .dashboard-header__user-menu-wrap {
  grid-template-columns: 20px 28px;
}
@media screen and (min-width: 768px) {
  .dashboard-trade .dashboard-header__user-menu-wrap {
    grid-template-columns: 20px 34px;
  }
}
@media screen and (min-width: 1280px) {
  .dashboard-trade .dashboard-header__user-menu-wrap {
    grid-template-columns: 130px 150px 20px 34px;
  }
}
@media screen and (min-width: 1440px) {
  .dashboard-trade .dashboard-header__user-menu-wrap {
    grid-template-columns: 130px 150px 20px 250px;
  }
}
.dashboard-trade .dropdown-menu__user-info {
  padding: 0;
}
.dashboard-trade .dropdown-menu__user-name {
  display: none;
}
@media screen and (min-width: 1440px) {
  .dashboard-trade .dropdown-menu__user-name {
    display: block;
  }
}

.table {
  margin: 0;
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
}
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table tr {
  position: relative;
  z-index: 1;
  transition: background 0.3s;
}
.table tr:hover {
  background-color: rgba(var(--primary-color), 0.05);
}
.table th,
.table td {
  padding: 5px 10px;
}
@media screen and (min-width: 768px) {
  .table th:first-child,
.table td:first-child {
    padding-left: 20px;
  }
  .table th:last-child,
.table td:last-child {
    padding-right: 20px;
  }
}

.col-name {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: rgba(var(--primary-color), 0.5);
}
@media screen and (min-width: 768px) {
  .col-name {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .col-name {
    font-size: 14px;
    line-height: 17px;
  }
}

.col-info {
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1280px) {
  .col-info {
    font-size: 14px;
    line-height: 17px;
  }
}

.col-info-link {
  display: block;
}
.col-info-link span {
  font-weight: bold;
}

.col-coin {
  display: grid;
  grid-template-columns: 26px auto;
  gap: 10px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
}

.col-coin-logo {
  display: flex;
}

.col-coin-ticker {
  color: rgba(var(--primary-color), 1);
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.col-info-date {
  color: rgba(var(--primary-color), 0.5);
}

.col-favourites {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  line-height: 17px;
  color: rgba(var(--primary-color), 1);
}

.col-favourites-img {
  display: flex;
  margin-right: 6px;
  cursor: pointer;
}

.col-favourites-icon {
  position: relative;
  top: -1px;
  fill: rgba(var(--primary-color), 0.3);
  transition: fill 0.3s;
}
.col-favourites-icon--active {
  fill: #ffbb36;
}

.col-btn {
  display: block;
  padding: 6px 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgba(var(--primary-color), 1);
  border: 1px solid transparent;
  text-align: center;
  background-color: rgba(var(--primary-color), 0.1);
  transition: background 0.3s, border 0.3s;
}
.col-btn:hover {
  border-color: #24ac80;
}

.col-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  padding: 0;
  z-index: -1;
}
.col-progress-bar--up {
  background-color: rgba(36, 172, 128, 0.2);
}
.col-progress-bar--down {
  background-color: rgba(239, 79, 70, 0.2);
}

.bv_mainselect {
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 6px;
  font-family: "Proxima Nova", -apple-system, blinkmacsystemfont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

.bv_atual {
  display: flex;
  position: relative;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.bv_disabled {
  background-color: #e6e6e6 !important;
  cursor: default !important;
}

.bv_separator {
  font-weight: 700;
  color: #282828 !important;
  cursor: default !important;
  background-color: transparent !important;
}

.arrow {
  position: absolute;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  right: 4px;
  pointer-events: none;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 6px;
  transition: all 0.2s;
}

.down {
  transition: all 0.2s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 4px;
}

.bv_ul_mobile {
  width: 80% !important;
  position: fixed !important;
  top: 5% !important;
  left: 10% !important;
  border: 0px !important;
  height: 90% !important;
  margin: 0px !important;
  overflow-y: scroll;
  z-index: 10 !important;
  max-height: 100% !important;
}

.bv_ul_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
}

.bv_ul_mobile li {
  padding: 20px !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.bv_ul_inner {
  position: absolute;
  margin-top: 10px;
  padding: 0;
  display: none;
  border-radius: 8px;
  display: none;
  z-index: 1;
  max-height: 400px;
  background-color: #ffffff;
  overflow-x: auto;
}

.bv_ul_inner li {
  cursor: pointer;
  list-style: none;
  color: #353535;
  padding: 5px 0 5px 9px;
  padding: 10px 15px;
  transition: all 0.3s;
}

.bv_ul_inner i {
  color: #464646;
  font-size: 17pt;
  margin-right: 10px;
  float: left;
  margin-top: -1px;
  margin-left: 3px;
}

.bv_ul_inner li img {
  margin-right: 10px;
  position: relative;
  top: 4px;
  max-width: 20px;
}

.bv_ul_inner li input {
  padding: 0px;
  border: 0px;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  color: black;
  height: 38px;
  width: 100%;
  background-color: transparent;
  font-size: 10pt;
  font-weight: bold;
}

.bv_ul_inner li:hover {
  background-color: #eee;
}

.nofocus {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 0px !important;
  border-bottom: 2px solid #e1e1e1;
}

.innerinput {
  padding: 0px 9px 0px 10px;
}

*:focus {
  outline: none !important;
}

.select-text-wrap {
  display: flex;
  min-width: 0;
  align-items: center;
  pointer-events: none;
}
.select-text-wrap img {
  display: none;
}
.select-text-wrap span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.orders {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 15px;
  max-width: 1460px;
  margin: 0 auto;
  height: calc(100vh - 70px);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .orders {
    height: calc(100vh - 80px);
  }
}

.orders__topbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
}

.orders__topbar-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .orders__topbar-title {
    font-size: 24px;
    line-height: 24px;
  }
}

.orders__content {
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
}

.orders__head {
  padding: 15px 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 10px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .orders__head {
    padding: 20px;
  }
}

.orders__head-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
@media screen and (min-width: 768px) {
  .orders__head-title {
    font-size: 20px;
    line-height: 24px;
  }
}

.orders__export {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  font-size: 12px;
  line-height: 12px;
  color: rgba(var(--exports-color), 1);
  text-align: right;
}
@media screen and (min-width: 768px) {
  .orders__export {
    font-size: 14px;
    line-height: 17px;
  }
}
.orders__export:hover {
  color: rgba(var(--exports-color), 0.8);
}

.orders__export-icon {
  margin-right: 8px;
}

.orders__head-wrap {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  align-items: flex-end;
}

.orders__head-name {
  grid-column: 1/-1;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 16px;
  color: rgba(var(--primary-color), 0.5);
}

.search-filter__search {
  padding: 0;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 30px;
  justify-items: center;
  align-items: center;
  background-color: rgba(var(--theme-bg-color), 1);
  border-radius: 2px;
  overflow: hidden;
}

.search-filter__search-input {
  width: 100%;
  max-height: 30px;
  margin-right: auto;
  padding: 8px 10px;
  border: none;
  outline: none;
  color: rgba(var(--primary-color), 1);
  background-color: rgba(var(--select-bg-color), 1);
}

.search-filter__search-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  background-color: rgba(var(--primary-color), 0.15);
}

.search-filter__search-icon {
  fill: rgba(var(--primary-color), 0.7);
}

.orders__head-btn-wrap {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .orders__head-btn-wrap {
    grid-column: auto;
  }
}

.orders__head-btn {
  padding: 7px 10px;
  font-size: 12px;
  line-height: 14px;
}

.orders__head-pair-wrap {
  grid-column: 1/-1;
  display: grid;
}
@media screen and (min-width: 768px) {
  .orders__head-pair-wrap {
    grid-column: auto;
  }
}

.orders__head-pair-select-wrap {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
}

.orders__head-pair-select {
  color: rgba(var(--primary-color), 1);
  text-align: center;
  background-color: rgba(var(--select-bg-color), 1);
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border 0.3s;
}
.orders__head-pair-select:hover {
  border-color: #24ac80;
}
.orders__head-pair-select .bv_mainselect {
  padding: 0;
  color: rgba(var(--primary-color), 1);
  white-space: nowrap;
}
.orders__head-pair-select .bv_atual {
  padding: 8px 20px 8px 10px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .orders__head-pair-select .bv_atual {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 14px;
  }
}
.orders__head-pair-select .bv_ul_inner {
  font-size: 12px;
  line-height: 15px;
  background-color: rgba(var(--select-bg-color), 1);
  border: 1px solid rgba(var(--primary-color), 0.05);
  border-radius: 2px;
  z-index: 2;
}
.orders__head-pair-select .bv_ul_inner li + li {
  border-top: 1px solid rgba(var(--primary-color), 0.1);
}
.orders__head-pair-select .bv_ul_inner li {
  background-color: rgba(var(--dropdown-bg-color), 1);
  padding: 10px;
  text-align: left;
  color: rgba(var(--primary-color), 1);
  border-left: 3px solid transparent;
  transition: color 0.3s, border 0.3s;
}
.orders__head-pair-select .bv_ul_inner li:hover {
  color: rgba(var(--primary-color), 1);
  background-color: rgba(var(--primary-color), 0.05);
  border-left-color: #24ac80;
}
.orders__head-pair-select .arrow {
  right: 10px;
  border: solid rgba(var(--primary-color), 1);
  border-width: 0 1px 1px 0;
}
.orders__head-pair-select .down {
  margin-top: 2px;
}
.orders__head-pair-select .select-text-wrap img {
  display: none;
}

.orders__head-pair-select-line {
  text-align: center;
}

.orders__type {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(86px, auto));
  justify-content: flex-start;
  border-bottom: 1px solid rgba(var(--primary-color), 0.1);
  text-align: center;
}
@media screen and (min-width: 577px) {
  .orders__type {
    grid-template-columns: repeat(auto-fill, minmax(120px, auto));
  }
}
@media screen and (min-width: 1900px) {
  .orders__type {
    grid-column: 1;
  }
}

.orders__type-item {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(var(--primary-color), 0.5);
  border-bottom: 2px solid transparent;
  transition: color 0.3s;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .orders__type-item {
    font-size: 14px;
    line-height: 17px;
  }
}
.orders__type-item--active {
  color: rgba(var(--primary-color), 1);
  border-color: #24ac80;
  cursor: initial;
}
.orders__type-item:hover {
  color: rgba(var(--primary-color), 1);
}

.orders__checkbox-group {
  position: relative;
  grid-column: 1/-1;
  justify-self: flex-start;
}
@media screen and (min-width: 1024px) {
  .orders__checkbox-group {
    grid-column: -1/-2;
    justify-self: flex-end;
    padding: 8px 0;
  }
}

.orders__checkbox-input:checked + .orders__checkbox-label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: -2px;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 5px;
  border-left: 2px solid #24ac80;
  border-bottom: 2px solid #24ac80;
  transform: rotate(-45deg);
}

.orders__checkbox-input:checked + .orders__checkbox-label {
  color: rgba(var(--primary-color), 1);
}

.orders__checkbox-input:checked + .orders__checkbox-label::before {
  border-color: rgba(var(--primary-color), 1);
}

.orders__checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: rgba(var(--primary-color), 0.5);
  transition: all 0.3s;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .orders__checkbox-label {
    font-size: 14px;
    line-height: 17px;
  }
}
.orders__checkbox-label::before {
  content: " ";
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid rgba(var(--primary-color), 0.4);
  border-radius: 2px;
  transition: all 0.3s;
}

.orders__inner {
  display: grid;
  grid-template-rows: min-content 1fr;
  margin-top: 20px;
  background-color: rgba(var(--theme-bg-secondary-color), 1);
  overflow: hidden;
}

.orders__table-wrap {
  display: none;
  overflow: auto;
}
.orders__table-wrap--show {
  display: block;
}

.orders__table td {
  padding: 15px 10px;
  max-width: 150px;
}
.orders__table th {
  padding: 15px 10px 5px;
  max-width: 150px;
}
.orders__table tr:not(:last-child) {
  border-bottom: 1px solid rgba(var(--primary-color), 0.15);
}

.orders__table-info {
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .orders__table-info {
    padding: 20px;
  }
}