.disable-link {
    pointer-events: none;
}

.white-space-text {
    white-space: nowrap !important;
}

.text-center { 
    text-align: center !important;
}

.landing-header__user-dropdown.landing-header__user-dropdown, .dropdown-menu__menu-list.landing-menu__menu-list {
    background-color: white;
}

.arrow.arrow-landing {
    border-color: hsl(0, 0%, 80%);
}
