.wallet__sidebar.custom-scroll
    ul.wallet__sidebar-list
        li.wallet__sidebar-item.wallet__sidebar-item--active Spot
        li.wallet__sidebar-item Margin
        li.wallet__sidebar-item P2P
        li.wallet__sidebar-item Transaction
        li.wallet__sidebar-item History
