section.trades
    .trades__head
        h2.trades__title Trades

    .trades__inner.custom-scroll
        table.trades__table.table
            thead
                tr
                    th
                        p.col-name Price(USDT)
                    th
                        p.col-name.text-align-center Amount(BTC)
                    th
                        p.col-name.text-align-right Time
            tbody
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500
                tr
                    td
                        p.col-info.color-red 36791.25
                    td
                        p.col-info.text-align-center 0.0040000
                    td
                        p.col-info.text-align-right 147.16500

