.markets__table-wrap.custom-scroll
    table.markets__table.table
        thead
            tr
                th
                    p.col-name Pair
                th
                    p.col-name Last Price
                th
                    p.col-name 24h Change
                th
                    p.col-name 24h High
                th
                    p.col-name 24h Low
                th
                    p.col-name Market Cap
                th
                    p.col-name 24h Volume
                th
                    p.col-name Edit
        tbody
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon.col-favourites-icon--active(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-green">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon.col-favourites-icon--active(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-green">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon.col-favourites-icon--active(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-green">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade

            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 37,195.00
                td
                    p.col-info 34,153.84
                td
                    p.col-info $689,756.82M
                td
                    p.col-info 2,987.70M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
            tr
                td
                    .col-favourites
                        .col-favourites-img
                            svg.col-favourites-icon(width="14" height="14")
                                use(xlink:href="#star-icon")
                        p.col-info BTC <span class="text-muted"> /USDT</span>
                td
                    p.col-info <span class="color-red">36,841.20</span> / $36,841.20
                td
                    p.col-info <span class="color-red">+1.43%</span>
                td
                    p.col-info 00000
                td
                    p.col-info 00084
                td
                    p.col-info 0006.82M
                td
                    p.col-info 0000M
                td
                    p.col-info
                        a.col-btn(href="./trade.html") Trade
