section.hero
    .box
        .hero__inner
            .hero__content
                .hero__subtitle BUILT ON STELLAR DEX
                h1.hero__title Crypto Exchange Revolution!
                .hero__descr
                    p We’re utilizing Stellar Blockchain and its DEX technology to provide highly secure, reliable and fast cryptocurrency exchange platform for traders.
                a.hero__btn.btn.btn--green(data-modal="modal-2") Get a free account

            .hero__purchase
                include ../purchase/purchase.pug

            include ../features/features.pug
